<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Results</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    
<!--    <script type="text/javascript">-->
<!--    function toggle_div_fun(id) {-->

<!--       var divelement = document.getElementById(id);-->

<!--       if(divelement.style.display == 'none')-->
<!--          divelement.style.display = 'inline-block';-->
<!--       else-->
<!--          divelement.style.display = 'none';-->
<!--    }-->
<!--</script>-->
    
  </head>
  
  
  
   <style>
      .mmodal-content{
        margin-top:100px;
        margin-left:150px;
        /*display:inline-block;*/
        width:500px;
        height:400px;
        background-color:white;
        border-radius:10px;
        /*position:relative;*/
        /*display:flex;*/
        display:none;
        
      }
      
       html,
    body {
        width: 100%;
        height: 100%;
        background-color: black;

    }
      .box {
       
        
     
     
     background-color:black;
     background-repeat:contain;
     background-size: 100% 100%;
     
     /*width:122px;*/
     height:800px;
     /*float:right;*/
     bottom:0;
     right:0;
     margin-left:50px;
     margin-right:50px;
    
      }
      .overlay{
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.5);
        
        
      }
      .resize{
        display:inline-block;
         max-width:25%;
         max-height:25%;
         border-radius: 15px;
         border-color:black;
         border:3px solid;
         margin-left:25px;
         margin-top:100px;
         
         
      }
      .info{
        float:right;
        color:white;
        background-color: rgba(0,0,0,0.4);
        height:500px;
        width:250px;
        margin-right:25px;
        margin-top:100px;
        border-color:white;
        border:3px transparent;
        /*padding-left:50px;*/
      }
      #button{
        margin-left:60px;
        margin-top:50px;
      }
      .writing{
        padding-top:40%;
        padding-left:25px;
        padding-right:25px;
      }
      
      
      /*.bg-modal{*/
      /*  width:100%;*/
      /*  height:100%;*/
      /*  background-color:rgba(0,0,0,.7);*/
      /*  position:absolute;*/
      /*  top:0;*/
      /*  display:flex;*/
      /*  justify-content:center;*/
      /*  align-items:center;*/
        /*display: none;*/
      /*}*/
     
      iframe{
        /*position:relative;*/
        /*align-items:center;*/
        /*justify-content:center;*/
        margin-top:25px;
        
        margin-left: 40px;
  
      }
      .close{
        position:absolute;
        top:0;
        right: 10px;
        top:10px;
        font-size:30px;
        /*transform: rotate(45deg);*/
      }
      .description{
        padding-left:100px;
        padding-right:100px;
        padding-top:25px;
        padding-bottom:25px;
        margin-left:100px;
        margin-right:100px;
        margin-top:25px;
        color:white;
         background-color: rgba(0,0,0,0.4);
        border-radius: 7px;
        border-color:rgb(0,0,0);
        border:3px solid;
      }
      li{
        padding:8px;
      }
   </style>
    
  <body>
    
    <div >
      <%if @type == "movie"%>
        
  <div>
        <%@hash.each do |movie,detail|%>
              <div class="box" style="background-image:url(<%=detail[2]%>);">
                <div class="overlay" >
                  <div >
                    <img class="resize" src="<%=detail[0]%>">
                    
                    <div class="info">
                      <ul class="writing" style="list-style-type:none;">
                        <li>Title: <%=movie%></li>
                        <li>Rating: <%=detail[5]%>/10</li>
                        <li>Release Date: <%=detail[6]%></li>
                      </ul>
                      <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" id="button" data-toggle="modal" data-target=#<%=detail[1]%>>Play Trailer</button>
                      
                    </div>
                    <div class="description"><p><%=detail[4]%></p></div>
                  </div>
                </div>
                 
                
               
              </div>
              
              <!--  <div class="bg-modal">-->
                
              <!--</div>-->
              
              
  
  

  <!-- Modal -->
  <div class="modal fade" id=<%=detail[1]%> role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Movie Trailer</h4>
        </div>
        <div class="modal-body">
          <iframe width="500" height="370"src="https://www.youtube.com/embed/<%=detail[1]%>"></iframe>
        </div>
      </div>
      
    </div>
  </div>
  


       <%end%>


      <%elsif @type == "keyword"%>
      
      <div>
        <%@ui2.movie_instances.each do |movie,detail|%>
              <div class="box" style="background-image:url(<%=detail[2]%>);">
                <div class="overlay" >
                  <div >
                    <img class="resize" src="<%=detail[0]%>">
                    
                    <div class="info">
                      <ul class="writing" style="list-style-type:none;">
                        <li>Title: <%=movie%></li>
                        <li>Rating: <%=detail[5]%>/10</li>
                        <li>Release Date: <%=detail[6]%></li>
                      </ul>
                      <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" id="button" data-toggle="modal" data-target=#<%=detail[1]%>>Play Trailer</button>
                      
                    </div>
                    <div class="description"><p><%=detail[4]%></p></div>
                  </div>
                </div>
                 
                
               
              </div>
              
              <!--  <div class="bg-modal">-->
                
              <!--</div>-->
              
              
  
  

  <!-- Modal -->
  <div class="modal fade" id=<%=detail[1]%> role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Movie Trailer</h4>
        </div>
        <div class="modal-body">
          <iframe width="500" height="370"src="https://www.youtube.com/embed/<%=detail[1]%>"></iframe>
        </div>
      </div>
      
    </div>
  </div>
  


       <%end%>
       
       <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
      </div>
      
      <%end%>
      
      
      
      <!--<%#@ui.backdrop_links.each do |link| %>-->
      <!--<img src =<#%=link%>>-->
      <!--<#%end%>-->
     
      
      
     
    </div>
    
  </body>
 
</html>
